html {
    position: relative;
    min-height: 100%;
}

a{
  color: white;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
   background-image: url("Assets/Images/icelandCavern.jpg");
   background-position: center;
   background-color: #212529;
   background-size: cover;
   color: ivory;
}
.spanHeader{
  font-size: x-large;
}
.contactlink{
  color: black;
}

#homebtn, #contactbtn, #portfoliobtn, #biobtn{
  color: #28a745;

}

#headShot{
  float: left;
  margin-right: 10px;
}
#mainImage{
  max-width: 500px;
}
#wordconn, #calendar, #weather{
  max-width: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.text{
  background-color: #363636;
}
#firstP{
  font-family: 'Exo 2';
  font-size: large;
}
#firstP::first-letter{
  font-size: 50px;
}

#firstContent{
  padding-top: 5px;
}
figcaption{
  background-color: #212529;
  font-weight: bolder;
  font-size: medium;
  font-family: 'IM Fell English';
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    background-color:#212529;
  }

#contactmebutton{
    text-align: center;
    margin-top: 10px;
  }
#png1{
  width: auto;
  height: 500px;
}

#png2{
  width: auto;
  height: 200px;
}

#basicInfo, #contactmain{
  font-family: 'Exo+2';
  margin: 5px;
}
#contactmain{
  font-size: large;
}
@media(max-width:450px){
  #mainImage,#wordconn, #weather, #calendar{
    width: 100%;

  }
}