html {
    position: relative;
    min-height: 100%;
}

a{
  color: black;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
   background-image: url("Assets/Images/icelandCavern.jpg");
   background-position: center;
   background-color: #212529;
   background-size: cover;
   color: ivory;
}

#homebtn, #contactbtn, #portfoliobtn, #biobtn{
  color: #28a745;

}
p{
  backdrop-filter: blur(5px);
  
}


#firstContent{
  padding-top: 5px;
}
figcaption{
  background-color: #212529;
  font-weight: bolder;
  font-size: medium;
  font-family: 'IM Fell English';
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    background-color:#212529;
  }

#contactmebutton{
    text-align: center;
    margin-top: 10px;
  }
#png1{
  width: auto;
  height: 500px;
}

#png2{
  width: auto;
  height: 200px;
}

#basicInfo, #contactmain{
  font-family: 'Exo+2';
  margin: 5px;
}